/*GENERAL*/
body
{
    font-family: 'Open sans' , sans-serif;
    font-size: 16px;
    background: #e3e3e3;
}
h1, h2, h3, h4, h5, h6, ul, p
{
    margin: 0;
    font-family: inherit;
    line-height: 1.1;
    color: inherit;

}
p
{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-start: 0px;
}
/*Header*/
.navbar
{
    background: #171717;
    font-size: 12px;
    float: none;
    font-size: 14px;
    padding: 4px 0;

}
.top-nav
{
    background: #000;
    color: #919191;
    font-size: 14px;
    padding: 14px 0;
}
.container
{
    position: relative;
    width: 1200px;
    max-height: none !important;
    padding-right: 15px;
    padding-left: 15px;
    padding-right: auto;
    padding-left: auto;
}
*
{
    box-sizing: border-box;
}
div
{
    display: block;
}
.pull-left
{
    float: left !important;
}
.pull-right
{
     float: right !important;
}
.top-nav .btn-primary
{
    background: #286092;
}
.top-nav .btn
{
    font-size: 11px;
    padding: 8px 20px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    line-height: 16px;
}
.btn-tertiary
{
    background: #3275df;
    color: #fff;
}
.btn-secondary
{
    background: #3a3a3a;
    color: #fff;
}

.btn
{
    box-shadow: none;
    text-transform: uppercase;
    border-radius: 5px;
    outline: 0;
    border: 0;
    transition: all 200ms ease;
    letter-spacing: 0.05em;
    margin-bottom: 0;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
}
.container
{
    position: relative;
    width: 1200px;
    max-width: none !important;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.navbar-header
{
    float: left;
}
.navbar .logo img
{
    padding: 20px 0;
    height: 100px;
}
.img-responsive
{
    display: block;
    max-width: 100%;
}
img
{
    vertical-align: middle;
    border: 0;
}
.navbar-nav> li
{
    float: left;
}
.nav>li 
{
    position: relative;
    display: block;
}
.navbar .nav-item:not(:last-child) .nav-link
{
    margin-right: 15px !important;
}
.navbar .nav-item.active .nav-link
{
    background-color: transparent !important;
    position: relative;
}
.navbar .nav-link
{
    color: #fff !important;
    text-transform: uppercase;
    font-weight: 400 !important;
    padding: 0 !important;
}
#navbar
{
    float: right;
    position: relative;
    top: 65px;
    left: -38px;
}
.navbar-default
{
    background-color: #2b2b2b;
    border-color: #2b2b2b;
    border-radius: 0;
}

/* escorte au cameroun*/
.row
{
    margin-right: -15px;
    margin-left: -15px;
}
.col-xs-4 
{
    width: 33.33333333%;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9,.col-xs-10, .col-xs-11, .col-xs-12
{
    padding: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
}
.page-heading .page-title
{
    font-family: 'Montserrat';
    color: #fff;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    padding: 12.5px 0;
    margin: 0;
}
.page-heading .date, .page-heading .views
{
    font-family: 'Montserrat';
    font-size: 14px;
    color: #fff;
    padding: 10px 0;
    text-align: right;
    font-weight: 400;
}
.page-heading
{
    background: #3275df;
    position: relative;
    top: -20px;
    z-index: 1;
}
.page-heading .black 
{
    padding: 8px 17.5px;
    font-size: 11px;
    font-family: 'Montserrat';
    font-weight: 400;
}
.btn-black
{
    background: #000;
    color: #fff;
    position: relative;
    right: 800px;
   top: 3.5px;
    border-radius: 0;
}

/*Contact*/

.content.full 
{
    width: 100%;
}
.content 
{
    width: 80%;
    float: left;
    display: block;
    padding: 0 7px;
}
#contact .box 
{
    background: #fff;
    padding: 55px 45px;
    color: #000;
    font-size: 15px;
}
.col-xl-8
{
    width: 66.66%;
}
#contact .box {
    background: #fff; 
    padding: 55px 45px;
    color: #000;
    font-size: 15px;
}
#contact .title 
{
    font-size: 22px;
    font-family: 'Montserrat';
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 40px;
}
form 
{
    display: block;
    margin-top: 0em;
}
#contact #contact-form .form-group {
    position: relative;
}
#contact #contact-form .input {
    width: 50%;
}
.form-group {
    margin-bottom: 15px;
}
#contact #contact-form input {
    height: 46px;
}
#contact #contact-form input, #contact #contact-form textarea {
    display: block;
    border: 1px solid #acacac;
    border-radius: 0;
    color: #696969;
    font-size: 14px;
    font-weight: 400;
    text-transform: none;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
#contact #contact-form input {
    height: 46px;
}
#contact #contact-form input, #contact #contact-form textarea {
    display: block;
    border: 1px solid #acacac;
    border-radius: 0;
    color: #696969;
    font-size: 14px;
    font-weight: 400;
    text-transform: none;
}
.btn-primary {
    background: #3275df;
    color: #fff;
}

.btn {
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: 0;
    border: 0;
    color: #fff;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    transition: all 200ms ease;
    letter-spacing: 0.05em;
    padding: 8px 16px;
}
#contact .box:not(:last-child) {
    margin-bottom: 30px;
}
#contact .box {
    background: #fff; 
    padding: 55px 45px;
    color: #000;
    font-size: 15px;
}
#contact .box .box-title {
    font-size: 18px;
    color: #fff;
    font-family: 'Montserrat';
    font-weight: 600;
    background: #3275df;
    padding: 5.5px 20px;
    margin-bottom: 25px;
    text-transform: uppercase;
}
#contact .box .box-subtitle {
    font-size: 16px;
    font-family: 'Montserrat';
    font-weight: 600;
    display: inline;
    margin-right: 5px;
    text-transform: uppercase;
}
#contact .box .infos {
    padding: 0;
    list-style-type: none;
    margin-top: 15px;
    margin-bottom: 25px;
}
#contact .box .follow {
    vertical-align: middle;
    font-size: 16px;
    font-family: 'Montserrat';
    font-weight: 600;
    display: inline;
    margin-right: 5px;
    text-transform: uppercase;
}
#contact .box {
    /* background: #fff; */
    padding: 55px 45px;
    color: #000;
    font-size: 15px;
}
.col-xl-7
{
    width: 58.33%;
}
.col-xl-5
{
    width: 41.66%;
}
/*FOOTER*/

.footer-top
{
    background-color: #3275df;
    margin-bottom: 10px;
    padding: 2px 0;
    text-align: center;
    vertical-align: middle;

}
.footer-top svg
{
    fill: #fff;
    width: 32px;
    height: 32px;
    vertical-align: middle;

}
.line
{
    position: relative;
    bottom: 15px;
}
footer
{
    background: #000;
    margin-top: 93px;
    color: #fff;
    padd.110px;
    text-transform: uppercase;
    font-weight: bold;
}
