/*GENERAL*/
body
{
    font-family: 'Open sans' , sans-serif;
    font-size: 16px;
}
h1, h2, h3, h4, h5, h6, ul, p
{
    margin: 0;
    font-family: inherit;
    line-height: 1.1;
    color: inherit;

}
p
{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-start: 0px;
}
/*Header*/
.navbar
{
    background: #171717;
    font-size: 12px;
    float: none;
    font-size: 14px;
    padding: 4px 0;

}
.top-nav
{
    background: #000;
    color: #919191;
    font-size: 14px;
    padding: 14px 0;
}
.container
{
    position: relative;
    width: 1200px;
    max-height: none !important;
    padding-right: 15px;
    padding-left: 15px;
    padding-right: auto;
    padding-left: auto;
}
*
{
    box-sizing: border-box;
}
div
{
    display: block;
}
.pull-left
{
    float: left !important;
}
.pull-right
{
     float: right !important;
}
.top-nav .btn-primary
{
    background: #286092;
}
.top-nav .btn
{
    font-size: 11px;
    padding: 8px 20px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    line-height: 16px;
}
.btn-tertiary
{
    background: #3275df;
    color: #fff;
}
.btn-secondary
{
    background: #3a3a3a;
    color: #fff;
}

.btn
{
    box-shadow: none;
    text-transform: uppercase;
    border-radius: 5px;
    outline: 0;
    border: 0;
    transition: all 200ms ease;
    letter-spacing: 0.05em;
    margin-bottom: 0;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
}
.container
{
    position: relative;
    width: 1200px;
    max-width: none !important;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.navbar-header
{
    float: left;
}
.navbar .logo img
{
    padding: 20px 0;
    height: 100px;
}
.img-responsive
{
    display: block;
    max-width: 100%;
}
img
{
    vertical-align: middle;
    border: 0;
}
.navbar-nav> li
{
    float: left;
}
.nav>li 
{
    position: relative;
    display: block;
}
.navbar .nav-item:not(:last-child) .nav-link
{
    margin-right: 15px !important;
}
.navbar .nav-item.active .nav-link
{
    background-color: transparent !important;
    position: relative;
}
.navbar .nav-link
{
    color: #fff !important;
    text-transform: uppercase;
    font-weight: 400 !important;
    padding: 0 !important;
}
#navbar
{
    float: right;
    position: relative;
    top: 65px;
    left: -38px;
}
.navbar-default
{
    background-color: #2b2b2b;
    border-color: #2b2b2b;
    border-radius: 0;
}

/* escorte au cameroun*/
.row
{
    margin-right: -15px;
    margin-left: -15px;
}
.col-xs-4 
{
    width: 33.33333333%;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9,.col-xs-10, .col-xs-11, .col-xs-12
{
    padding: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
}
.page-heading .page-title
{
    font-family: 'Montserrat';
    color: #fff;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    padding: 12.5px 0;
    margin: 0;
}
.page-heading .date, .page-heading .views
{
    font-family: 'Montserrat';
    font-size: 14px;
    color: #fff;
    padding: 10px 0;
    text-align: right;
    font-weight: 400;
}
.page-heading
{
    background: #3275df;
    position: relative;
    top: -20px;
    z-index: 1;
}
.page-heading .black 
{
    padding: 8px 17.5px;
    font-size: 11px;
    font-family: 'Montserrat';
    font-weight: 400;
}
.btn-black
{
    background: #000;
    color: #fff;
    position: relative;
    right: 800px;
   top: 3.5px;
    border-radius: 0;
}

/*S'inscrire à votre compte*/

#users main
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0 15px 0;
    width: 100%;
}
#users .users-row 
{
    display: flex;
    margin-left: -10px;
    margin-right: -10px;
}
#users .user-box 
{
    width: 100%;
    padding: 0 15px;
    display: flex;
    position: relative;
}
#users .user-box::after
{
    content: attr(data-word);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 5px solid #ebebeb;
    background-color: #3275df;
    color: #fff;
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(50%, -50%);
    z-index: 2;
}
#users .user
 {
    background: #fff;
    box-shadow: -4px 3px 68px 0px rgba(0, 0, 0, 0.1);
    color: #000;
    display: flex;
    flex-direction: column;
    width: 100%;
}
#users .user-heading 
{
    padding-top: 20px;
    padding-left: 20px;
    margin-bottom: 10px;
}
#users .user> * 
{
    max-width: 100%;
}
#users .user-title 
{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
}
#users .user-subtitle
{
    font-size: 14px;
    font-style: italic;
    font-weight: 600;
    margin-bottom: 10px;
}
#users .user-intro
{
    font-size: 13px;
    margin-bottom: 10px;
}
#users .user-wrap
{
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}
#users .user> *
{
    max-width: 100%;
}
#users .user-info
{
    width: 55%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}
#users .user-list 
{
    font-size: 12px;
    padding-left: 0;
    list-style-type: none;
}
#users .user-info> * 
{
    max-width: 100%;
}
ul, ol
{
    margin-top: 0;
    margin-bottom: 10px;
}
h2 
{
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
h3
{
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
p 
{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
ul
{
    margin: 0;
    margin-bottom: 15px;
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
li
{
    display: list-item;
}
#users .user
{
    background: #fff;
    box-shadow: -4px 3px 68px 0px rgba(0, 0, 0, 0.1);
    color: #000;
    display: flex;
    flex-direction: column;
    width: 100%;
}
#users .user-list li
{
    padding-left: 20px;
    position: relative;
    margin-bottom: 5px;
}
#users .user .btn
{
    margin-bottom: 20px;
    margin-top: auto;
    align-self: flex-start;
    padding-top: 12px;
    padding-bottom: 12px;
    min-width: 140px;
}
#users .user-info> *
{
    max-width: 100%;
}
.btn-primary
{
    background: #3275df;
    color: #fff;
}

.btn
{
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: 0;
    border: 0;
    color: #fff;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    transition: all 200ms ease;
    letter-spacing: 0.05em;
    padding: 8px 16px;
}
#users .user-image 
{
    width: 45%;
    align-self: flex-end;
    vertical-align: bottom;
}
#users .user-image img 
{
    max-width: 100%;
}
img {
    vertical-align: middle;
}
img {
    border: 0;
}

#users .user-title span 
{
    color: #3275df;
}

/*FOOTER*/

.footer-top
{
    background-color: #3275df;
    margin-bottom: 10px;
    padding: 2px 0;
    text-align: center;
    vertical-align: middle;

}
.footer-top svg
{
    fill: #fff;
    width: 32px;
    height: 32px;
    vertical-align: middle;

}
.line
{
    position: relative;
    bottom: 15px;
}
footer
{
    background: #000;
    margin-top: 93px;
    color: #fff;
    padd.110px;
    text-transform: uppercase;
    font-weight: bold;
}
